<!-- Ajout d'un bouton pour faire apparaître la boîte de dialogue du nouveau block -->
<!-- Permet d'importer le plugin crispy (installé via pip et importé dans le settings.py)-->
{% load crispy_forms_tags %}
<div class="col text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-dev-modal">Creer une tache</button>
</div>
<!-- Ajout du modal contenant le formulaire -->
<div class="modal fade " id="add-dev-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nouvelle tache</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'task:create' %}" method="post">
                    {% csrf_token %}
                    <!-- Utilisation de crispy (voir import plus haut)-->
                    {{ form|crispy }}
                    <div>
                        <button class="btn btn-primary" type="submit">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>