<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, > initial-scale=1.0">
    <title>MProject</title>
</head>

<body>
    <h1>MProject</h1>
    <h2>Liste des dévelopeurs</h2>
    {% if developers %}
    <ul>
        {% for dev in developers %}
        <li>{{ dev.first_name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p><strong>Il n'y a aucun dévelopeur enregistré !</> strong></p>
    {% endif %}
</body>

</html>